.padding-8 {
  padding: 8px;
}

.padding-16 {
  padding: 16px;
}

.padding-top-8 {
  padding-top: 8px;
}

.padding-bottom-8 {
  padding-bottom: 8px;
}

.padding-left-8 {
  padding-left: 8px;
}

.padding-right-8 {
  padding-right: 8px;
}

.padding-top-16 {
  padding-top: 16px;
}

.padding-bottom-16 {
  padding-bottom: 16px;
}

.padding-left-16 {
  padding-left: 16px;
}

.padding-right-16 {
  padding-right: 16px;
}

.margin-8 {
  margin: 8px;
}

.margin-16 {
  margin: 16px;
}

.margin-top-8 {
  margin-top: 8px;
}

.margin-bottom-8 {
  margin-bottom: 8px;
}

.margin-left-8 {
  margin-left: 8px;
}

.margin-right-8 {
  margin-right: 8px;
}

.margin-top-16 {
  margin-top: 16px;
}

.margin-bottom-16 {
  margin-bottom: 16px;
}

.margin-left-16 {
  margin-left: 16px;
}

.margin-right-16 {
  margin-right: 16px;
}

.margin-top-4 {
  margin-top: 4px;
}